@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@layer base {
  #root {
    @apply min-h-screen  bg-primary-green200;
  }
  input {
    @apply border-gray-500 border rounded-lg px-3 py-2;
  }
}
